* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f8f9fa;
    direction: rtl;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 24px;
    color: #4CAF50;
    margin-bottom: 20px;
}

.controls {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

input, select {
    padding: 8px 15px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

select {
    width: 150px;
}

.image-container {
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
}

footer {
    margin-top: 30px;
    font-size: 14px;
    color: #777;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    header h1 {
        font-size: 20px;
    }

    button {
        padding: 8px 15px;
    }

    input, select {
        padding: 6px 10px;
    }
}

@media screen and (max-width: 370px) {
    img{
        height: 670px;
    }
}

#idk{
    padding: 10px;
    background-color: red;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
}